<!-- Dropdown Structure -->
<ul id="dropdown1" class="menu dropdown-content">
  <li [routerLinkActive]="['active']">
    <a [routerLink]="['/login']">login</a>
  </li>
  <li [routerLinkActive]="['active']">
    <a [routerLink]="['/signup']">Sign Up</a>
  </li>
</ul>
<div class="navbar-fixed">
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <div class="row">
          <a [routerLink]="['/']" class="brand-logo">Book Shop</a>
          <ul class="right hide-on-med-and-down">
            <li *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']">
              <a [routerLink]="['/login']">login</a>
            </li>
            <li *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']">
              <a [routerLink]="['/signup']">Sign Up</a>
            </li>
            <li *ngIf="authService.isLoggedIn()" [routerLinkActive]="['active']">
              <a [routerLink]="['/items', 'add']">Add Items</a>
            </li>
            <li *ngIf="authService.isLoggedIn()" (click)="authService.logout()" [routerLinkActive]="['active']">
              <a [routerLink]="['/']">Hi, {{authService.getloggedInUserName()}}</a>
            </li>
            <li *ngIf="authService.isLoggedIn()" (click)="authService.logout()" [routerLinkActive]="['active']">
              <a [routerLink]="['/signup']">logout</a>
            </li>
          </ul>
          <ul class="right show-on-med-and-down hide-on-large-only">
            <li>
              <a class="dropdown-button" href="#!" data-activates="dropdown1">
                <i class="material-icons right">+</i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
