<div *ngIf="item">
  <h4>{{item.name}}</h4>

  <div class="row">
    <div class="col m6">
      <img materialize="materialbox" [materializeActions]="actions" style="width: 100%" class="materialboxed" [src]="item.image">
    </div>
    <div class="m6">
      <h4>{{item.name}}</h4>
      <p>{{item.author}} | {{item.publishYear}}</p>
      <p>{{item.price | formatPrice:false:'Rs. ':'/-'}}</p>
      <p>{{item.description}}</p>

      <hr>
      <h5>Contact: </h5>
      <div>{{item.owner.name}}</div>
      <div *ngIf="authService.isLoggedIn()">
        <div>{{item.owner.email}}</div>
        <div>{{item.owner.college}}</div>
      </div>
      <div *ngIf="!authService.isLoggedIn()">
        <p>
          <a [routerLink]="['/login']">login</a> to view full details
        </p>
      </div>
    </div>
  </div>

</div>
